<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body {
            margin: 20px;
        }

        .nav-tabs>li.active, .nav-tabs>li.active:focus {
            border-bottom: 3px solid #cc181e;
            color: black;
        }

        .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
            border: none !important;
            background-color: transparent !important;
            color: black;
        }

        .nav-tabs>li>a {
            color: black;
        }

        .tab-content {
            margin-top: 20px;
        }
        .form-control {
            border-radius: 2px;
        }
    </style>
</head>
<body>
<h3> <i style="color:#337ab7" class="fa fa-pencil-square"></i> Upload Details</h3>
<p>Please provide details about the video file you are uploading below.</p>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basic" role="tab" data-toggle="tab">Basic Info</a></li>
    <li role="presentation"><a href="#advanced" role="tab" data-toggle="tab">Advanced</a></li>
</ul>

<form action="process" method="post">
    <input name="redirectUrl" type="hidden" value="<%= redirectUrl %>"/>
    <input name="packageId" type="hidden" value="<%= packageId %>"/>
    <input name="metadataId" type="hidden" value="<%= metadataId %>"/>

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade in active" id="basic">
            <div class="form-group">
                <input type="text" class="form-control" id="title" name="title" placeholder="Title">
            </div>

            <div class="form-group">
                <textarea id="description" name="description" class="form-control" placeholder="Description" rows="4"></textarea>
            </div>

            <div class="form-group">
                <textarea id="tags" name="tags" class="form-control" placeholder="Tags" rows="2"></textarea>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade in" id="advanced">
            <div class="form-group">
                <label for="category" class="control-label">Category</label>
                <select id="category" name="category" class="form-control" value="Entertainment">
                    <option value="" default selected>Select Category</option>
                    <option>Film & Animation</option>
                    <option>Autos & Vehicles</option>
                    <option>Music</option>
                    <option>Pets & Animals</option>
                    <option>Sports</option>
                    <option>Travel & Events</option>
                    <option>Gaming</option>
                    <option>Comedy</option>
                    <option>Entertainment</option>
                    <option>News & Politics</option>
                    <option>Howto & Style</option>
                    <option>People & Blogs</option>
                    <option>Education</option>
                    <option>Science & Technology</option>
                    <option>Nonprofit & Activism</option>
                </select>
            </div>

            <div class="form-group">
                <label for="category" class="control-label">Video Location</label>
                <input type="text" class="form-control" id="location" name="location">
            </div>

            <div class="form-group">
                <label for="language" lass="control-label">Video language</label>
                <select id="language" name="language" class="form-control" value="Entertainment">
                    <option value="English" default selected>Select Language</option>
                    <option>English</option>
                    <option>French</option>
                </select>
            </div>

            <div class="form-group">
                <label for="recordingDate" class="control-label">Recording Date</label>
                <input type="date" class="form-control" id="recordingDate" name="recordingDate">
            </div>

            <div class="form-group">
                <label for="language" lass="control-label">Distribution Options</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="notifySubscribers" checked>Notify subscribers <i style="color:#666" class="fa fa-question-circle"></i>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="allowEmbedding">Allow embedding <i style="color:#666" class="fa fa-question-circle"></i>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" style="font-size: 20px" class="btn btn-primary pull-right">Save</button>
    </div>
</form>
<br/>
</body>
</html>
